<section class="py-2">
<div class="row">
    <div class="col-md-6 text-center">
        <h1 class="display-3 mt-3 pt-5">
            web dev ebook
        </h1>
        <p class="lead">learn web dev front to back</p>
         <form action="/charge" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{stripePublishableKey}}"
          data-amount="12000"
          data-name="Web Development Ebook"
          data-description="Ebook written by ose miles"
          data-image="/img/marketplace.png"
          data-locale="auto">
        </script>
        <script>
            document.getElementsByClassName('stripe-button-el')[0]
            .style.display='none';
        </script>
        <button type="submit" class="btn btn-outline-dark text-white btn-lg">
            purchase for 12$
        </button>
    </div>   
    <div class="col-md-6">
        <img src="/img/book.png" alt="" class="img-fluid">
    </div>
</div>

</section>